@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/mulish-v13-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/mulish-v13-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* mulish-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mulish-v13-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Mulish',sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 30px;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header {
    padding: 56px 0;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
            align-items: center;
}

.nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: #1F1534;
    opacity: 50%;
    
   
}
.nav__dropdown-list{
    display: none;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    row-gap: 10px;
    padding:10px;
    left: -8px;
    background-color: #fff;
    width: 120px;
}
.nav__item{
    position: relative;
}
.nav__dropdown-link{
    color: #458FF6;
}
.nav__dropdown-link:hover{
    color: #1F1534;
}
.nav__dropdown-link:active{
    opacity:80%;
    color: #1F1534;
}
   
.nav__item:hover .nav__dropdown-list{
    display: flex;
}
.nav__link--active:active {
    opacity: 100%;
}

.hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero__infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 440px;
    gap: 35px;
}

.hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}

.hero__text {
    font-size: 21px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: #7D7987;

}

.hero__btn {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    width: 197px;
    background-color: #458FF6;
    color: #fff;
    text-align: center;
    padding: 17px 0;
    border-radius: 55px;
    border: none;
}

.services {
    padding: 213px 0;
}

.services__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    margin-bottom: 60px;
}


.services__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    margin-bottom: 50px;
}


.services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 40px;
}

.services__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 23px;
    border-radius: 20px;
    padding: 68px 43px;
    -webkit-box-shadow: 10px 40px 50px 0px #E5E9F666;
            box-shadow: 10px 40px 50px 0px #E5E9F666;
}

.detail__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}

.detail__text {
    width: 280px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: #7D7987;
}

.healthcare__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    row-gap: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.healthcare__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 112px;
       -moz-column-gap: 112px;
            column-gap: 112px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.provide-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
    width: 440px;
}

.download-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    color: #7D7987;
}

.download__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;

}

.download__btn {
    width: 200px;
    padding: 17px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.59px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    border: 1px solid #458FF6;
    border-radius:55px;
    text-align: center;
    color: #458FF6;
}
.provide--reverse{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.comment{
    margin: 251px 0;
}
.comment__box{
    background-color: #458FF6;
    border-radius:24px;
    padding:73px 118px;
}
.comment__title{
    font-family: Mulish;
font-size: 36px;
font-weight: 700;
line-height: 48px;
text-align: center;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
color: #fff;
}
.comment__creds-box{
    margin-top:106px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:166px;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   color: #fff;
}
.creds__text{
    width: 403px;
font-size: 19px;
font-weight: 400;
line-height: 30px;
text-align: left;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
opacity: 85%;
}
.creds__person-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
}
.creds__names{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap:5px; 
    
}
.creds__name{
    font-family: Mulish;
font-size: 22px;
font-weight: 700;
line-height: 27.61px;
text-align: left;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;

}
.creds__role{
    font-family: Mulish;
font-size: 18px;
font-weight: 400;
line-height: 22.59px;
text-align: left;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
opacity: 85%;
}


.news__title{
    font-family: Mulish;
font-size: 36px;
font-weight: 700;
line-height: 56px;
text-align:center;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
}

.news__list{
    margin: 75px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;

}
.news__item{
    -webkit-box-shadow: 10px 40px 50px 0px #E5E9F666;
            box-shadow: 10px 40px 50px 0px #E5E9F666;
    width: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
}
.disease__info{
    padding-left:30px;
    padding-right: 84px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px ;
    padding-bottom:42px;
}
.disease__title{
    font-family: Mulish;
font-size: 21px;
font-weight: 700;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;

}
.disease__text{
    font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
color: #7D7987;

}
.disease__btn{
    font-family: Mulish;
font-size: 17px;
font-weight: 600;
line-height: 28px;
text-align: left;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
background-color: transparent;
color: #458FF6;
border: none;
}
.news__btn{
    font-family: Mulish;
font-size: 18px;
font-weight: 700;
line-height: 22.59px;
text-align: left;
text-underline-position: from-font;
-webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
background-color: transparent;
border: 1px solid #458FF6;
color: #458FF6;
text-align: center;
padding:17px 65px;
border-radius:55px;
}
.news__button-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.news{
    margin-bottom: 150px;
}


footer{
    background-color: #458FF6;
}
.footer__container{
    width:1220px;
    margin: 0 auto;
    padding: 115px 0;
}
.footer__wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-column-gap: 150px;
       -moz-column-gap: 150px;
            column-gap: 150px;
}

.footer__info-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    row-gap:20px;
    width: 386px;
    
}
.pty__copyright{
    color: #fff;
    opacity: 70%;
}
.pty__text{
    color: #fff;
    opacity: 70%;
}
.footer__lists{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap:160px;
       -moz-column-gap:160px;
            column-gap:160px;
}
.footer__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap:10px;
    color: #fff;
}
.help__link{
    color: #fff;
}
.switch-box3{
    display: inline-block;
    width: 125px;
    height: 70px;
    background-image: url(../images/sun-bg.svg);
    background-size: 100% 100%;
    border-radius: 50px;
    position: relative;
    transition-duration: 1s;
 }
 
 .switch-box3::before{
    position: absolute;
    display: inline-block;
    top: 16px;
    left: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: orange;
    transition-duration: 1s;
    content: "";
    background-image: url();
 }
 
 .switch-checked3{
    display: none;
 }
 
 .switch-checked3:checked + .switch-box3::before{
    left: px;
    background-color: gray;
   
    width: 40px;
    height: 40px;
    left: 73px;
 }
 
 .switch-checked3:checked + .switch-box3{
    background-image: url(../images/moon.svg);
    background-size: 100% 100%;
    transition: 1s;
 }
 .switch-form{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
 }